<article class="mb-20">
  <h3 class="text-2xl md:text-4xl font-semibold text-yellow-100 mb-10">
    Alexander Ortiz
  </h3>
  <p class="text-white text-lg md:text-3xl mb-10 text-pretty">
    Me defino como una persona apasionada por el aprendizaje continuo. Disfruto
    diseñar y desarrollar aplicaciones que resuelvan necesidades reales de los
    clientes. La tecnología, en constante evolución, no solo es una herramienta
    clave en el mundo actual, sino también mi principal motivación para seguir
    creciendo profesional y técnicamente.
  </p>
  <div class="w-full h-[400px] flex justify-center items-center">
    <img
      class="rounded shadow-2xl shadow-white/10 mt-5 size-80"
      src="/profile.jpeg"
      alt={`Captura de pantalla del proyecto /aboutme`}
    />
  </div>
</article>
