---
/* Components */
import TimelineItem from "../components/ExperienceItem.astro";

const experience = [
  {
    date: "Marzo 2022 - Actualidad",
    title: "Desarrollador Full Stack - SII Group",
    project: "Scotiabank",
    description:
      "Responsable del desarrollo y mantenimiento de aplicaciones bancarias. Lideré la migración de sistemas desde Visual Basic a tecnologías modernas como ReactJS, integrando microservicios desarrollados en Spring Boot (Java). Además, implementé pruebas unitarias para garantizar altos niveles de cobertura de código, asegurando la calidad y el rendimiento de las soluciones entregadas.",
    link: "https://sii-group.com/es-CL",
    messageLink: "SII Group",
  },
  {
    date: "Enero 2021 - Marzo 2022",
    title: "Desarrollador Front End - NTT Data Europe & LATAM (Everis)",
    project: "ENEL",
    description:
      "Líder del proyecto Autoconsultas, desarrollado utilizando ReactJS, enfocado en proporcionar información en tiempo real a los clientes mediante un tótem de autoconsulta. Este proyecto fue implementado con éxito para Enel Chile, Enel Colombia y Enel Colina, destacando por su impacto en la mejora de la experiencia del cliente y la eficiencia en la entrega de información.",
    link: "https://cl.nttdata.com",
    messageLink: "NTT Data Chile",
  },
  {
    date: "Febrero 2019 - Enero 2021",
    title: "Desarrollador CMS - NTT Data Europe & LATAM (Everis)",
    project: "LATAM",
    description:
      "Especialista en Adobe Experience Manager (AEM), encargado de liderar la migración integral del contenido del sitio latam.com hacia una versión más avanzada de la plataforma. Además, aseguré el mantenimiento continuo y optimización del sistema, garantizando un funcionamiento eficiente y alineado con las necesidades del cliente.",
    link: "https://cl.nttdata.com",
    messageLink: "NTT Data Chile",
  },
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    experience.map((exp) => (
      <li class="mb-10 ms-4">
        <TimelineItem {...exp} />
      </li>
    ))
  }
</ol>
