---
//* Components
import Badge from "../components/Badge.astro";
import Section from "../components/Section.astro";
import SocialLink from "../components/SocialLink.astro";
//* Icons
import AboutIcon from "../icons/About.astro";
import BookmarkIcon from "../icons/Bookmark.astro";
import CodeIcon from "../icons/Code.astro";
import ContactIcon from "../icons/Contact.astro";
import GithubIcon from "../icons/Github.astro";
import GmailIcon from "../icons/Gmail.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import SchoolIcon from "../icons/School.astro";
//* Layout
import Layout from "../layouts/Layout.astro";
//* Routes
import Aboutme from "../routes/Aboutme.astro";
import Contact from "../routes/Contact.astro";
import Timeline from "../routes/Experience.astro";
import Knowledge from "../routes/Knowledge.astro";
import Projects from "../routes/Projects.astro";
---

<Layout
  title="Alexander Ortiz - Desarrollador Full Stack"
  description="Analista Programador con experiencia en proyectos importantes."
>
  <main class="px-4">
    <Section class="py-44 pb-32" id="top">
      <img
        class="rounded-full size-16 mb-4"
        src="./profile.jpeg"
        alt="Avatar logo"
      />
      <h1
        class="typewriter text-white mt-2 md:mt-0 text-xl sm:text-3xl md:text-5xl font-bold flex flex-row gap-x-4 pb-5 items-center flex-wrap md:flex-nowrap"
      >
        Hola! Soy Alexander
      </h1>
      <div class="mt-4 mb-5 ml-2">
        <a
          href="https://cl.linkedin.com/in/alexander-ortiz-cortes-07843a16b"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-start md:hover:scale-105"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </div>
      <h2
        class="text-white text-xl md:text-3xl opacity-80 text-wrap mb-10 md:mb-0"
      >
        <span>+ 5 años de experiencia.</span><span
          class="text-yellow-200/90"
          id="information"
        >
          Desarrollador Full Stack y Mobile.</span
        ><span class="text-red-100/90" id="address">
          De Santiago, Chile 🇨🇱.</span
        > Soy un apasionado por la tecnología, comprometido a realizar aplicaciones
        únicas.
      </h2>
      <ul class="flex gap-x-2 mt-4 flex-wrap">
        <li class="mb-5 text-white">
          <SocialLink
            href="https://cl.linkedin.com/in/alexander-ortiz-cortes-07843a16b"
          >
            <LinkedInIcon class="size-6 text-white" />
            LinkedIn
          </SocialLink>
        </li>
        <li class="text-white">
          <SocialLink href="https://github.com/Alexander-001">
            <GithubIcon class="size-6 text-white" />
            Github
          </SocialLink>
        </li>
        <li class="text-white">
          <SocialLink href="mailto:alexander.ortiz.1098@gmail.com">
            <GmailIcon class="size-6 text-white" />
            alexander.ortiz.1098@gmail.com
          </SocialLink>
        </li>
      </ul>
    </Section>
    <Section id="experience">
      <h2
        class="text-white text-3xl md:text-5xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <BookmarkIcon class="size-8 md:size-12 text-white" />
        Experiencia laboral
      </h2>
      <Timeline />
    </Section>
    <Section id="project">
      <h2
        class="text-white text-3xl md:text-5xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <CodeIcon class="size-8 md:size-12 text-white" />
        Algunos proyectos
      </h2>
      <Projects />
    </Section>
    <Section id="knowledge">
      <h2
        class="text-white text-3xl md:text-5xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <SchoolIcon class="size-8 md:size-12 text-white" />
        Conocimientos
      </h2>
      <Knowledge />
    </Section>
    <Section id="about">
      <h2
        class="text-white text-3xl md:text-5xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <AboutIcon class="size-8 md:size-12 text-white" />
        Sobre mí
      </h2>
      <Aboutme />
    </Section>
    <Section id="contact">
      <h2
        class="text-white text-3xl md:text-5xl font-semibold mb-6 flex gap-x-3 items-center"
      >
        <ContactIcon class="size-8 md:size-12 text-white" />
        Contacto
      </h2>
      <Contact />
    </Section>
  </main>
</Layout>

<style>
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid rgb(240, 255, 167);
    white-space: nowrap;
    animation:
      typing 5s steps(40, end) infinite,
      blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 70%;
    }
    100% {
      width: 0;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: rgb(240, 255, 167);
    }
  }
</style>
