<article class="mb-20">
  <h3 class="text-2xl md:text-4xl font-semibold text-yellow-100 mb-10">
    Alexander Ortiz
  </h3>
  <p class="text-lg md:text-3xl mb-10 text-pretty">
    Soy una persona que esta en constante aprendizaje, desde pequeño que tengo
    gusto por la tecnología, me encanta realizar aplicaciones que puedan ayudar
    a satisfacer las necesidades del cliente. Hoy en dia la tecnologia esta
    presente en todo el mundo y en constante evolucion, es algo que me apasiona
    ya que nunca dejo de aprender.
  </p>
  <img
    class="rounded shadow-2xl shadow-white/10 mt-5"
    src="/aboutme.png"
    alt={`Captura de pantalla del proyecto /aboutme`}
  />
</article>
