<footer
  id="footer"
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <nav
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <ul
      class="flex flex-wrap ite justify-center md:justify-center items-center mt-3 text-sm md:text-xl font-medium text-white/90 sm:mt-0 mb-5 md:mt-0"
    >
      <li class="mt-5">
        <a
          href="#top"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500"
          >Inicio</a
        >
      </li>
      <li class="mt-5">
        <a
          href="#experience"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500"
          >Experiencia
        </a>
      </li>
      <li class="mt-5">
        <a
          href="#projects"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500 ml-5"
          >Proyectos</a
        >
      </li>
      <li class="mt-5">
        <a
          href="#knowledge"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500 ml-5"
          >Conocimientos</a
        >
      </li>
      <li class="mt-5">
        <a
          href="#about"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500"
          >Sobre mí</a
        >
      </li>
      <li class="mt-5">
        <a
          href="#contact"
          class="me-4 md:me-6 transition hover:text-blue-500 dark:hover:text-blue-500 ml-5"
          >Contacto</a
        >
      </li>
    </ul>
    <div class="text-center">
      <span class="text-lg md:text-2xl sm:text-center text-yellow-100/90"
        >© 2024 <a href="https://flowbite.com/">Alexander Ortiz</a>
      </span>
    </div>
  </nav>
</footer>
