---
import ScriptScrolling from "../scripts/ScriptScrolling.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<header
  id="header"
  class="fixed top-0 left-0 z-10 flex justify-center items-center py-5 w-full mx-auto"
>
  <nav
    id="nav"
    class="ease-out flex flex-row flex-wrap gap-x-5 md:gap-x-10 justify-center items-center mx-2"
  >
    <a
      href="#top"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500 text-md pl-5"
      >Inicio</a
    >
    <a
      href="#experience"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500"
      >Experiencia</a
    >
    <a
      href="#project"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500"
      >Proyectos</a
    >
    <a
      href="#knowledge"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500"
      >Conocimientos</a
    >
    <a
      href="#about"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500"
      >Sobre mi</a
    >
    <a
      href="#contact"
      class="nav-link transition hover:text-blue-500 dark:hover:text-blue-500 pr-5"
      >Contacto</a
    >
  </nav>
</header>

<ThemeToggle />
<ScriptScrolling />

<script>
  const sections = document.querySelectorAll("section[id]");
  console.log(sections);
  const navLinks = document.querySelectorAll(".nav-link");

  const observerOptions = {
    root: null,
    rootMargin: "0px",
    threshold: 0.3,
  };

  const observerCallback = (entries: any[]) => {
    entries.forEach((entry: any) => {
      const navLink = document.querySelector(
        `a[href="#${entry.target.id}"]`
      ) as any;
      console.log(`navLink.href: ${navLink.href}, navLink: ${navLink}`);
      if (entry.isIntersecting) {
        navLink.classList.add("text-blue-500", "font-bold");
      } else {
        navLink.classList.remove("text-blue-500", "font-bold");
      }
    });
  };

  const observer = new IntersectionObserver(observerCallback, observerOptions);

  sections.forEach((section) => observer.observe(section));
</script>
